* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 221, 221);
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: #131212;
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 2000px;
}

main {
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    nav {
        width: 100%;
        display: flex;
        align-items: center;


        .alvy {
            h2 {
                font-size: 1.5rem;
                font-weight: 400;
                color: #ffffff9d;
            }
        }
    }


    section.view1 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #242323;
            padding: 2.5rem;
            border-radius: 0.7rem;
            @include flex-column(2rem);
            gap: 3rem;


            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 500;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 100rem;
                    opacity: 0.6;
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }

                button {
                    width: fit-content;
                    background-color: #242323;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                    color: white;

                    #icon {
                        size: 25rem;
                    }

                }

                button:hover {
                    color: black;
                    background-color: #fff;
                    cursor: pointer;
                }

            }
        }
    }

    section.view2 {
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem;

        .top,
        .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element {
                text-align: center;
                @include flex-column(0.2rem);

                small {
                    font-size: 1rem;
                    opacity: 0.1rem;
                }

                h2 {
                    font-size: 3rem;
                    font-weight: 400;
                }
            }
        }

    }

    section.view3 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #242323;
            border-radius: 0.7rem;
            padding: 2rem;

            .text {
                @include flex-column(0.7rem);


                h1 {
                    font-weight: 500;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    margin-top: 6rem;
                }

                p {
                    font-weight: 100rem;
                    opacity: 0.6;
                    font-size: 1.2rem;
                    line-height: 2rem;
                    margin-bottom: 1m;
                }
            }
        }

        .bottom>p {
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    section.view4 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #242323;
            border-radius: 0.7rem;
            padding: 2rem;

            .text {
                @include flex-column(0.7rem);


                h1 {
                    font-weight: 500;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    margin-top: 6rem;
                }

                p {
                    font-weight: 100rem;
                    opacity: 0.6;
                    font-size: 1.2rem;
                    line-height: 2rem;
                    margin-bottom: 1m;
                }
            }
        }

        .bottom>p {
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    section.view4-1 {
        margin-top: 2rem;
        margin-bottom: 2rem;

        h1 {
            font-size: 2.2rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-left: 1rem;

        }
    }

    section.view5 {
        display: flex;
        flex-direction: column;

        gap: 2rem;
        width: 100%;
        padding: 1rem;

        .card1 {
            padding: 1rem;
            border-radius: 0.7rem;
            width: 100%;
            background-image: url(./card1.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(187, 187, 187, 0.375);
                backdrop-filter: blur(5px);
                border-radius: solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;
            }

            p {
                text-transform: uppercase;
            }
        }

        .card2 {
            padding: 1rem;
            border-radius: 0.7rem;
            width: 100%;
            background-image: url(./card2.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(187, 187, 187, 0.375);
                backdrop-filter: blur(5px);
                border-radius: solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;
            }

            p {
                text-transform: uppercase;
            }
        }

        .card3 {
            padding: 1rem;
            border-radius: 0.7rem;
            width: 100%;
            background-image: url(./card3.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(187, 187, 187, 0.375);
                backdrop-filter: blur(5px);
                border-radius: solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;
            }

            p {
                text-transform: uppercase;
            }
        }

    }

    section.view6 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #242323;
            border-radius: 0.7rem;
            padding: 2rem;

            p {
                text-transform: uppercase;
                margin-bottom: 1rem;
            }

            .text {
                h1 {
                    font-size: 2.5rem;
                    margin-bottom: 4rem;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                button {
                    width: fit-content;
                    background-color: #242323;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                    color: white;

                    #icon {
                        size: 25rem;
                    }

                }

                button:hover {
                    color: black;
                    background-color: #fff;
                    cursor: pointer;
                }
            }

        }
    }

    section.view7 {
        width: 100%;
        padding: 0rem 1rem 1rem 1rem;
        @include flex-column(0rem);

        .text {
            border-radius: 0.7rem;
            background-color: #CEBD63;
            padding: 2rem;

            p {
                color: #121212;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 0.1rem;
            }

            h1 {
                font-size: 2.5rem;
                text-transform: uppercase;
                font-weight: 500;
                color: #121212d5;
                margin-bottom: 1rem;
            }

            button {
                padding: 1.4rem 8rem;
                background-color: #121212;
                color: white;
                border-radius: 0.5rem;
                word-spacing: 0.2rem;
                border: none;

                i {
                    font-size: 1rem;
                    font-weight: 200;
                }
            }
             button:hover {
                    background-color: white;
                    color: black;
                }
        }
    }

    section.view8 {
        border-radius: 0.7rem;
        width: 100%;
        padding: 0rem 1rem 1rem 1rem;

        .text {
            padding: 2rem;
            border-radius: 0.7rem;
            background-color: #242323;
            align-items: center;
            display: flex;
            gap: 1rem;
            justify-content: space-between;

            h1 {
                color: #b3aeae65;
            }
        }
    }
}

@media (min-width:900px) {
    main {
        nav {
            width: 100%;
            display: flex;
            justify-content: end;
            margin-top: 1rem;
            align-items: center;

            .alvy {
                padding-right: 28rem;
                font-weight: 100;

                h2 {
                    font-size: 1.5rem;
                    font-weight: 350;
                }
            }

            #links {
                display: flex;
                gap: 0.5rem;

                a {
                    background-color: #1E1E1E;
                    color: white;
                    border: none;
                    outline: none;
                    padding: 1.1rem 1.7rem;
                    border-radius: 0.5rem;
                    text-transform: uppercase;

                }

                a:hover {
                    background-color: #383737;
                }

                #button-1 {
                    background-color: #CEBD63;
                    color: black;
                    border: none;
                    outline: none;
                    padding: 1.1rem 1.7rem;
                    border-radius: 0.5rem;
                    text-transform: uppercase;
                    word-spacing: 0.5rem;
                    font-weight: 400;
                }

                #button-1:hover {
                    background-color: #81763c;
                }



                button:hover {
                    cursor: pointer;
                    background-color: #353434;
                }
            }
        }

        section.view1 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3.5rem;

                .text {
                    h1 {
                        font-weight: 400;
                        font-size: 4.3rem;
                    }
                }
            }
        }

        section.view2 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                .element {
                    small {
                        opacity: 0.1rem;
                    }

                    h2 {
                        font-size: 4rem;
                        font-weight: 400;
                    }
                }
            }
        }

        section.view3 {
            flex-direction: row-reverse;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;

                .text {
                    h1 {
                        font-size: 3rem;
                        font-weight: 400;
                    }

                    .paragraphs {
                        display: flex;
                        gap: 2rem;
                    }
                }
            }

            .bottom>p {
                margin-bottom: 4rem;
            }
        }

        section.view4 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;

                .text {
                    h1 {
                        font-size: 3rem;
                        font-weight: 400;
                    }

                    .paragraphs {
                        display: flex;
                        gap: 2rem;
                    }
                }
            }

            .bottom>p {
                margin-bottom: 4rem;
            }
        }

        section.view5 {
            display: flex;
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view6 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                padding: 3rem;

                .text {
                    h1 {
                        font-size: 3rem;
                        font-weight: 400;
                        margin-bottom: 9rem;
                    }

                    .button {
                        size: 2rem;
                    }
                }
            }
        }

        section.view7 {
            padding: 0rem 4rem;

            .text {
                padding: 3rem;
                position: relative;

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    font-weight: 450;
                }

                h1 {
                    color: #121212;
                    font-size: 4.6rem;
                    font-weight: 400;
                    max-width: 55rem;
                    letter-spacing: 0.1rem;
                }

                button {
                    position: absolute;
                    padding: 1.3rem 2.5rem;
                    left: 80%;
                    bottom: 20%;
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }

        section.view8 {
            padding: 0rem 4rem;

            .text {
                display: flex;
                flex-direction: column;
                padding: 3rem;
                margin: 1rem 0rem 1rem 0rem;

                h1 {
                    margin-bottom: 2rem;
                    font-size: 10rem;
                }

                p {
                    display: flex;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
    position: relative;

    #links {
        display: flex;
        gap: 1rem;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .icon {
        display: none;
        font-size: 1.8rem;
        cursor: pointer;
    }
}

@media (max-width: 900px) {
    .topnav {
        #links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100%;
            right: 1rem;
            background: #1e1e1e;
            padding: 1rem;
            border-radius: 0.7rem;
        }

        &.responsive #links {
            display: flex;
        }

        .icon {
            display: block;
        }
    }
}