* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 221, 221);
}

body {
    background-color: #131212;
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;
    @include flex-column(0rem);

    section {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            background-color: #242323;
            padding: 1rem;
            border-radius: 10px;
            @include flex-column(2rem);


            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 500;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 300;
                    opacity: 0.8;
                    font-size: 1.5rem;
                    line-height: 2rem;
                }

                button {
                    width: fit-content;
                    background-color: #ffebeb;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;

                    #icon {
                        size: 25rem;
                    }

                }

            }
        }
    }
}

@media (min-width:900px) {
    main {
        nav {
            display: flex;
            justify-content: end;
            margin-top: 1rem;
            align-items: center;

            .alvy {
                padding-right: 26rem;
                font-size: 1rem;
                font-weight: 100;
            }

            #button {
                display: flex;
                padding-right: 1rem;
                gap: 0.5rem;

                button {
                    background-color: #1E1E1E;
                    color: white;
                    border: none;
                    outline: none;
                    padding: 1.1rem 1.7rem;
                    border-radius: 0.5rem;

                }

                #button-1 {
                    button {
                        background-color: #CEBD63;
                        color: black;
                        border: none;
                        outline: none;
                        padding: 1.1rem 1.7rem;
                        border-radius: 0.5rem;

                    }
                }

                button:hover {
                    cursor: pointer;
                    background-color: #353434;
                }
            }
        }

        section {
            flex-direction: row;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
            }
        }
    }
}