* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 221, 221);
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: #131212;
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 2000px;
}

main {
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    nav {
        width: 100%;
        display: flex;

        .alvy {
            h2 {
                font-size: 0.7rem;
            }
        }

        .button {
            button {
                padding: px 1px;
                font-size: 0.1rem;
            }
        }

    }

    section.view1 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #242323;
            padding: 2.5rem;
            border-radius: 0.7rem;
            @include flex-column(2rem);
            gap: 3rem;


            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 500;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 100rem;
                    opacity: 0.6;
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }

                button {
                    width: fit-content;
                    background-color: #242323;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                    margin-top: 1rem;
                    font-size: 1rem;
                    color: white;

                    #icon {
                        size: 25rem;
                    }

                }

                button:hover {
                    color: black;
                    background-color: #fff;
                    cursor: pointer;
                }

            }
        }
    }

    section.view2 {
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem;

        .top,
        .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element {
                text-align: center;
                @include flex-column(0.2rem);

                small {
                    font-size: 1rem;
                    opacity: 0.1rem;
                }

                h2 {
                    font-size: 3rem;
                    font-weight: 400;
                }
            }
        }

    }

    section.view3 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #242323;
            border-radius: 0.7rem;
            padding: 2rem;

            .text {
                @include flex-column(0.7rem);


                h1 {
                    font-weight: 500;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    margin-top: 6rem;
                }

                p {
                    font-weight: 100rem;
                    opacity: 0.6;
                    font-size: 1.2rem;
                    line-height: 2rem;
                    margin-bottom: 1m;
                }
            }
        }

        .bottom>p {
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    section.view4 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #242323;
            border-radius: 0.7rem;
            padding: 2rem;

            .text {
                @include flex-column(0.7rem);


                h1 {
                    font-weight: 500;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    margin-top: 6rem;
                }

                p {
                    font-weight: 100rem;
                    opacity: 0.6;
                    font-size: 1.2rem;
                    line-height: 2rem;
                    margin-bottom: 1m;
                }
            }
        }

        .bottom>p {
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

@media (min-width:900px) {
    main {
        nav {
            padding: 0rem 4rem;
            width: 100%;
            display: flex;
            justify-content: end;
            margin-top: 1rem;
            align-items: center;

            .alvy {
                padding-right: 28rem;
                font-weight: 100;

                h2 {
                    font-size: 1.5rem;
                    font-weight: 350;
                }
            }

            #button {
                display: flex;
                // padding-right: 1rem;
                gap: 0.5rem;

                button {
                    background-color: #1E1E1E;
                    color: white;
                    border: none;
                    outline: none;
                    padding: 1.1rem 1.7rem;
                    border-radius: 0.5rem;

                }

                #button-1 {
                    button {
                        background-color: #CEBD63;
                        color: black;
                        border: none;
                        outline: none;
                        padding: 1.1rem 1.7rem;
                        border-radius: 0.5rem;

                    }
                }

                button:hover {
                    cursor: pointer;
                    background-color: #353434;
                }
            }
        }

        section.view1 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3.5rem;

                .text {
                    h1 {
                        font-weight: 400;
                        font-size: 4.3rem;
                    }
                }
            }
        }

        section.view2 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                .element {
                    small {
                        opacity: 0.1rem;
                    }

                    h2 {
                        font-size: 4rem;
                        font-weight: 400;
                    }
                }
            }
        }

        section.view3 {
            flex-direction: row-reverse;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;

                .text {
                    h1 {
                        font-size: 3rem;
                        font-weight: 400;
                    }

                    .paragraphs {
                        display: flex;
                        gap: 2rem;
                    }
                }
            }

            .bottom>p {
                margin-bottom: 4rem;
            }
        }

        section.view4 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;

                .text {
                    h1 {
                        font-size: 3rem;
                        font-weight: 400;
                    }

                    .paragraphs {
                        display: flex;
                        gap: 2rem;
                    }
                }
            }

            .bottom>p {
                margin-bottom: 4rem;
            }
        }
    }
}