* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(233, 221, 221);
}

body {
    background-color: #131212;
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;
    @include flex-column(0rem);

    section {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            background-color: #242323;
            padding: 1rem;
            border-radius: 10px;
            @include flex-column(1.5rem);


            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 500;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

            }

            p {
                font-weight: 300;
                opacity: 0.8;
                font-size: 1.5rem;
                line-height: 2rem;
            }

            button {
                width: fit-content;
                background-color: #242323;

                i {
                    size: 25rem;
                }
            }
        }
    }
}